


        <!-- /.main-header -->

        <main id="content" class="content">

            <section class="vc_row bg-cover bg-center fullheight d-flex align-items-center py-5 mt-5" data-row-bg="/Content/img/Slider2.jpeg">

                <span class="row-bg-loader"></span>

                <div class="container">
                    <div class="row d-flex flex-wrap align-items-center">

                        <div class="lqd-column col-md-8 col-md-offset-2 text-md-center mt-md-9 col-sm-8 col-sm-offset-2 col-sm-center col-xs-8 col-xs-offset-2 col-xs-center">
                           

                            <figure data-custom-animations="true"
                                    data-ca-options='{ "triggerHandler":"inview", "animationTarget":"all-childs", "duration":"1200", "startDelay": 250, "easing":"easeOutQuint", "direction":"forward", "initValues":{"scale":0.5, "opacity":0}, "animations":{"scale":1, "opacity":1} }'>
                                <img width="190" height="112" src="~/assets/demo/misc/summer.png" alt="Summer">
                                
                            </figure>

                            <div class="ld-fancy-heading">
                                <h2 class="text-white ltr-sp--015"
                                    data-fittext="true"
                                    data-fittext-options='{"compressor":0.675,"maxFontSize":"90","minFontSize":"50"}'
                                    data-split-text="true"
                                    data-split-options='{ "type": "chars, words" }'
                                    data-text-rotator="true"
                                    data-custom-animations="true"
                                    data-ca-options='{ "triggerHandler":"inview", "animationTarget":"all-childs", "duration":"500", "delay":"60", "startDelay": 500, "easing":"easeOutQuint", "direction":"forward", "initValues":{"translateY": 20,"rotateZ": 9,"opacity": 0}, "animations":{"translateY":0,"rotateZ":0,"opacity":1} }'>
                                    <span class="ld-fh-txt text-warning" >
                                        Kusursuz
                                        <span class="txt-rotate-keywords">
                                            <span class="keyword active">Tasarım</span>
                                            <span class="keyword">Kalite</span>
                                            <span class="keyword">Teslim</span>
                                        </span>
                                    </span>
                                </h2>
                            </div><!-- /.ld-fancy-heading -->

                            <div class="lqd-column-inner"
                                 data-custom-animations="true"
                                 data-ca-options='{ "triggerHandler":"inview", "animationTarget":"all-childs", "duration":"1200", "startDelay": 900, "easing":"easeOutQuint", "direction":"forward", "initValues":{"translateY": 50, "opacity": 0}, "animations":{"translateY":0,"opacity":1} }'>

                                <a href="#" class="btn btn-solid btn-lg border-none bg-warning bg-hover-dark text-dark text-hover-white text-uppercase lh-2 font-weight-bold ltr-sp-2 px-1" data-localscroll="true" data-localscroll-options='{"scrollBelowSection": true}'>
                                    <span>
                                        <span class="btn-txt">Mağazaya Git</span>
                                    </span>
                                </a>

                            </div><!-- /.lqd-column-inner -->

                        </div><!-- /.col-md-8 -->

                    </div><!-- /.row -->
                </div><!-- /.container -->

            </section>

            <section class="vc_row pt-120 pb-50">
                <div class="container">

                    <div class="row">

                        <div class="lqd-column col-md-8 col-md-offset-2">

                            <header class="fancy-title text-center mb-65">
                                <h2>Ayaz Collection</h2>
                                <p class="text-fade-dark-04">Özel Tasarımlı Ürünler</p>
                            </header>

                        </div><!-- /.lqd-column col-md-8 col-md-offset-2 -->

                    </div><!-- /.row -->

                    <div class="row">

                        <div class="lqd-column col-md-6">

                            <div class="ld-shop-banner ld-shop-banner-style1 round">

                                <div class="ld-shop-banner-container" data-hover3d="true">
                                    <div class="ld-shop-banner-inner" data-stacking-factor="0.5">

                                        <div class="ld-shop-banner-image">
                                            <div class="carousel-container ld-shop-banner-carousel-main">
                                                <div class="carousel-items row" id="shop-banner-1" data-lqd-flickity='{ "prevNextButtons": false }'>

                                                    <div class="carousel-item">
                                                        <figure class="bg-cover bg-center" data-responsive-bg="true">
                                                            <img class="invisible" src="~/Content/img/Slider1.jpeg" alt="Banner 1">
                                                        </figure>
                                                    </div><!-- /.carousel-item -->
                                                    <div class="carousel-item">
                                                        <figure class="bg-cover bg-center" data-responsive-bg="true">
                                                            <img class="invisible" src="~/Content/img/1.jpg" alt="Banner 1">
                                                        </figure>
                                                    </div><!-- /.carousel-item -->
                                                    <div class="carousel-item">
                                                        <figure class="bg-cover bg-center" data-responsive-bg="true">
                                                            <img class="invisible" src="~/Content/img/2.jpg" alt="Banner 1">
                                                        </figure>
                                                    </div><!-- /.carousel-item -->
                                                    <div class="carousel-item">
                                                        <figure class="bg-cover bg-center" data-responsive-bg="true">
                                                            <img class="invisible" src="~/Content/img/3.jpg" alt="Banner 1">
                                                        </figure>
                                                    </div><!-- /.carousel-item -->

                                                </div><!-- /.carousel-items row -->
                                            </div><!-- /.carousel-container -->
                                        </div><!-- /.ld-shop-banner-image -->

                                        <div class="ld-shop-banner-content">
                                            <span class="text-warning">Özel Ürünler</span>
                                        </div><!-- /.ld-shop-banner-content -->

                                        <div class="carousel-container ld-shop-banner-carousel-nav">
                                            <div class="carousel-items row" data-lqd-flickity='{ "prevNextButtons": false, "asNavFor": "#shop-banner-1" }'>

                                                <div class="carousel-item col-md-3 col-xs-6">
                                                    <figure class="bg-cover bg-center" data-responsive-bg="true">
                                                        <img class="invisible" src="~/Content/img/Slider1.jpeg" alt="Banner 1">
                                                    </figure>
                                                </div><!-- /.carousel-item -->
                                                <div class="carousel-item col-md-3 col-xs-6">
                                                    <figure class="bg-cover bg-center" data-responsive-bg="true">
                                                        <img class="invisible" src="~/Content/img/1.jpg" alt="Banner 1">
                                                    </figure>
                                                </div><!-- /.carousel-item -->
                                                <div class="carousel-item col-md-3 col-xs-6">
                                                    <figure class="bg-cover bg-center" data-responsive-bg="true">
                                                        <img class="invisible" src="~/Content/img/2.jpg" alt="Banner 1">
                                                    </figure>
                                                </div><!-- /.carousel-item -->
                                                <div class="carousel-item col-md-3 col-xs-6">
                                                    <figure class="bg-cover bg-center" data-responsive-bg="true">
                                                        <img class="invisible" src="~/Content/img/3.jpg" alt="Banner 1">
                                                    </figure>
                                                </div><!-- /.carousel-item -->

                                            </div><!-- /.carousel-items row -->
                                        </div><!-- /.carousel-container -->

                                        <a href="#" class="liquid-overlay-link"></a>

                                    </div><!-- /.ld-shop-banner-inner -->
                                </div><!-- /.ld-shop-banner-container -->

                            </div><!-- /.ld-shop-banner -->

                        </div><!-- /.lqd-column col-md-6 -->

                        <div class="lqd-column col-md-3 col-xs-6">
                            <div class="ld-shop-banner ld-shop-banner-style1 round">

                                <div class="ld-shop-banner-container" data-hover3d="true">
                                    <div class="ld-shop-banner-inner" data-stacking-factor="0.5">

                                        
                                            <figure class="bg-cover bg-center" data-responsive-bg="true">
                                                <img class="invisible" src="~/Content/img/0.jpg" alt="Banner 1">
                                            </figure>
                                        <!-- /.ld-shop-banner-image -->

                                        <div class="ld-shop-banner-content">
                                            
                                        </div><!-- /.ld-shop-banner-content -->

                                        <a href="#" class="liquid-overlay-link"></a>

                                    </div><!-- /.ld-shop-banner-inner -->
                                </div><!-- /.ld-shop-banner-container -->

                            </div><!-- /.ld-shop-banner -->
                        </div><!-- /.lqd-column col-md-3 col-xs-6 -->

                        <div class="lqd-column col-md-3 col-xs-6">
                            <div class="ld-shop-banner ld-shop-banner-style1 round">

                                <div class="ld-shop-banner-container" data-hover3d="true">
                                    <div class="ld-shop-banner-inner" data-stacking-factor="0.5">

                                        
                                            <figure class="bg-cover bg-center" data-responsive-bg="true">
                                                <img class="invisible" src="~/Content/img/4.jpg" alt="Banner 1">
                                            </figure>
                                        <!-- /.ld-shop-banner-image -->

                                        <div class="ld-shop-banner-content">
                                            
                                        </div><!-- /.ld-shop-banner-content -->

                                        <a href="#" class="liquid-overlay-link"></a>

                                    </div><!-- /.ld-shop-banner-inner -->
                                </div><!-- /.ld-shop-banner-container -->

                            </div><!-- /.ld-shop-banner -->
                        </div><!-- /.lqd-column col-md-3 col-xs-6 -->

                        <div class="lqd-column col-md-3 col-xs-6">
                            <div class="ld-shop-banner ld-shop-banner-style1 round">

                                <div class="ld-shop-banner-container" data-hover3d="true">
                                    <div class="ld-shop-banner-inner" data-stacking-factor="0.5">

                                        
                                            <figure class="bg-cover bg-center" data-responsive-bg="true">
                                                <img class="invisible" src="~/Content/img/5.jpg" alt="Banner 1">
                                            </figure>
                                        <!-- /.ld-shop-banner-image -->

                                        <div class="ld-shop-banner-content">
                                            
                                        </div><!-- /.ld-shop-banner-content -->

                                        <a href="#" class="liquid-overlay-link"></a>

                                    </div><!-- /.ld-shop-banner-inner -->
                                </div><!-- /.ld-shop-banner-container -->

                            </div><!-- /.ld-shop-banner -->
                        </div><!-- /.lqd-column col-md-3 col-xs-6 -->

                        <div class="lqd-column col-md-3 col-xs-6">
                            <div class="ld-shop-banner ld-shop-banner-style1 round">

                                <div class="ld-shop-banner-container" data-hover3d="true">
                                    <div class="ld-shop-banner-inner" data-stacking-factor="0.5">

                                        
                                            <figure class="bg-cover bg-center" data-responsive-bg="true">
                                                <img class="invisible" src="~/Content/img/6.jpg" alt="Banner 1">
                                            </figure>
                                        <!-- /.ld-shop-banner-image -->

                                        <div class="ld-shop-banner-content text-white">
                                            
                                        </div><!-- /.ld-shop-banner-content -->

                                        <a href="#" class="liquid-overlay-link"></a>

                                    </div><!-- /.ld-shop-banner-inner -->
                                </div><!-- /.ld-shop-banner-container -->

                            </div><!-- /.ld-shop-banner -->
                        </div><!-- /.lqd-column col-md-3 col-xs-6 -->

                    </div><!-- /.row -->

                </div><!-- /.container -->
            </section>

            <section class="vc_row pt-50 pb-50">
                <div class="container">

                    <div class="row">

                        <div class="lqd-column col-md-8 col-md-offset-2">
                            <header class="fancy-title text-center mb-65">
                                <h2>En Çok Satanlar</h2>
                                <p class="text-fade-dark-04">En çok sipariş edilen ürünler.</p>
                            </header>
                        </div><!-- /.lqd-column col-md-8 col-md-offset-2 -->

                    </div><!-- /.row -->

                    <div class="row">

                        <div class="lqd-column col-md-3 col-xs-6">

                            <div class="ld-sp pos-rel" >
                                <figure class="ld-sp-img">
                                    <a href="shop-product-simple.html">
                                        <img src="~/Content/img/x1.jpeg" alt="Product">
                                    </a>
                                    <figure class="ld-sp-img-hover my-0 ld-overlay pos-abs bg-cover bg-center" data-responsive-bg="true">
                                        <a href="#">
                                            <img class="invisible" src="~/Content/img/x1.jpeg" alt="Product">
                                        </a>
                                    </figure>
                                    <a href="#" class="ld-sp-btn add_to_cart_button">
                                        <span>Add to cart</span>
                                    </a>
                                </figure>
                                <div class="ld-sp-info text-center">
                                    <h3>
                                        <a href="shop-product-simple.html">Scalloped Dress</a>
                                    </h3>
                                    <p class="ld-sp-price text-center">
                                        <span class="ld-sp-price-amount">
                                            <span class="ld-sp-currency">$</span>139.90
                                        </span>
                                    </p>
                                </div><!-- /.ld-sp-info -->
                            </div><!-- /.ld-sp -->

                        </div><!-- /.lqd-column col-md-3 col-xs-6 -->

                        <div class="lqd-column col-md-3 col-xs-6">

                            <div class="ld-sp pos-rel">
                                <figure class="ld-sp-img">
                                    <a href="shop-product-simple.html">
                                        <img src="~/Content/img/x2.jpg" alt="Product">
                                    </a>
                                    <figure class="ld-sp-img-hover my-0 ld-overlay pos-abs bg-cover bg-center" data-responsive-bg="true">
                                        <a href="#">
                                            <img class="invisible" src="~/Content/img/x2.jpg" alt="Product">
                                        </a>
                                    </figure>
                                    <a href="#" class="ld-sp-btn add_to_cart_button">
                                        <span>Add to cart</span>
                                    </a>
                                </figure>
                                <div class="ld-sp-info text-center">
                                    <h3>
                                        <a href="shop-product-simple.html">Scalloped Dress</a>
                                    </h3>
                                    <p class="ld-sp-price text-center">
                                        <span class="ld-sp-price-amount">
                                            <span class="ld-sp-currency">$</span>139.90
                                        </span>
                                    </p>
                                </div><!-- /.ld-sp-info -->
                            </div><!-- /.ld-sp -->

                        </div><!-- /.lqd-column col-md-3 col-xs-6 -->

                        <div class="lqd-column col-md-3 col-xs-6">

                            <div class="ld-sp pos-rel">
                                <figure class="ld-sp-img">
                                    <a href="shop-product-simple.html">
                                        <img src="~/Content/img/x3.jpg" alt="Product">
                                    </a>
                                    <figure class="ld-sp-img-hover my-0 ld-overlay pos-abs bg-cover bg-center" data-responsive-bg="true">
                                        <a href="#">
                                            <img class="invisible" src="~/Content/img/x3.jpg" alt="Product">
                                        </a>
                                    </figure>
                                    <a href="#" class="ld-sp-btn add_to_cart_button">
                                        <span>Add to cart</span>
                                    </a>
                                </figure>
                                <div class="ld-sp-info text-center">
                                    <h3>
                                        <a href="shop-product-simple.html">Scalloped Dress</a>
                                    </h3>
                                    <p class="ld-sp-price text-center">
                                        <span class="ld-sp-price-amount">
                                            <span class="ld-sp-currency">$</span>139.90
                                        </span>
                                    </p>
                                </div><!-- /.ld-sp-info -->
                            </div><!-- /.ld-sp -->

                        </div><!-- /.lqd-column col-md-3 col-xs-6 -->

                        <div class="lqd-column col-md-3 col-xs-6">

                            <div class="ld-sp pos-rel">
                                <figure class="ld-sp-img">
                                    <a href="shop-product-simple.html">
                                        <img src="~/Content/img/x4.jpg" alt="Product">
                                    </a>
                                    <figure class="ld-sp-img-hover my-0 ld-overlay pos-abs bg-cover bg-center" data-responsive-bg="true">
                                        <a href="#">
                                            <img class="invisible" src="~/Content/img/x4.jpg" alt="Product">
                                        </a>
                                    </figure>
                                    <a href="#" class="ld-sp-btn add_to_cart_button">
                                        <span>Add to cart</span>
                                    </a>
                                </figure>
                                <div class="ld-sp-info text-center">
                                    <h3>
                                        <a href="shop-product-simple.html">Scalloped Dress</a>
                                    </h3>
                                    <p class="ld-sp-price text-center">
                                        <span class="ld-sp-price-amount">
                                            <span class="ld-sp-currency">$</span>139.90
                                        </span>
                                    </p>
                                </div><!-- /.ld-sp-info -->
                            </div><!-- /.ld-sp -->

                        </div><!-- /.lqd-column col-md-3 col-xs-6 -->

                    </div><!-- /.row -->

                </div><!-- /.container -->
            </section>

            <section class="vc_row pt-130 pb-130 bg-cover bg-center img-fluid" data-parallax="true" data-parallax-options='{ "parallaxBG": true }' style="background-image: url(/Content/img/lbanner.jpeg)">
                <div class="container">
                    <div class="row">

                        <div class="lqd-column col-md-6 col-md-offset-3 text-center">

                            <h6 class="text-black text-uppercase font-size-13 ltr-sp-2 font-weight-bold mb-35">Oto Kokusu</h6>
                            <h2 class="text-black h1">Özel Tasarımlarla Oto Kokuları</h2>

                            <a href="#" class="btn btn-solid btn-lg border-none bg-white bg-hover-dark text-dark text-hover-white text-uppercase lh-2 font-weight-bold ltr-sp-2 px-1" data-localscroll="true" data-localscroll-options='{"scrollBelowSection": true}'>
                                <span>
                                    <span class="btn-txt">MAĞAZAYA GİT</span>
                                </span>
                            </a>

                        </div><!-- /.lqd-column col-md-6 col-md-offset-3 -->

                    </div><!-- /.row -->
                </div><!-- /.container -->
            </section>

            <section class="vc_row pt-35 pb-35 mb-40">
                <div class="container">
                    <div class="row">

                        <div class="lqd-column col-md-12">

                            <div class="carousel-container carousel-nav-left carousel-nav-md carousel-dots-style1">

                                <div class="carousel-items row" data-lqd-flickity='{"cellAlign":"left","prevNextButtons":false,"buttonsAppendTo":"self","pageDots":false,"groupCells":false,"wrapAround":true,"autoPlay":3000,"pauseAutoPlayOnHover":false}'>

                                    <div class="lqd-column carousel-item  col-md-2 col-sm-3 col-xs-4">
                                        <figure class="text-center opacity-02 reset-opacity-onhover">
                                            <img src="~/Content/img/OTK/14.jpg" class="mt-10 w-60" alt="Client">
                                        </figure>
                                    </div><!-- /.carousel-item -->
                                    <div class="lqd-column carousel-item  col-md-2 col-sm-3 col-xs-4">
                                        <figure class="text-center opacity-02 reset-opacity-onhover">
                                            <img src="~/Content/img/OTK/1.jpg" class="mt-10 w-60" alt="Client">
                                        </figure>
                                    </div><!-- /.carousel-item -->
                                    <div class="lqd-column carousel-item  col-md-2 col-sm-3 col-xs-4">
                                        <figure class="text-center opacity-02 reset-opacity-onhover">
                                            <img src="~/Content/img/OTK/2.jpg" class="mt-10 w-60" alt="Client">
                                        </figure>
                                    </div><!-- /.carousel-item -->
                                    <div class="lqd-column carousel-item  col-md-2 col-sm-3 col-xs-4">
                                        <figure class="text-center opacity-02 reset-opacity-onhover">
                                            <img src="~/Content/img/OTK/3.jpg" class="w-60" alt="Client">
                                        </figure>
                                    </div><!-- /.carousel-item -->
                                    <div class="lqd-column carousel-item  col-md-2 col-sm-3 col-xs-4">
                                        <figure class="text-center opacity-02 reset-opacity-onhover">
                                            <img src="~/Content/img/OTK/4.jpg" class="w-60" alt="Client">
                                        </figure>
                                    </div><!-- /.carousel-item -->
                                    <div class="lqd-column carousel-item  col-md-2 col-sm-3 col-xs-4">
                                        <figure class="text-center opacity-02 reset-opacity-onhover">
                                            <img src="~/Content/img/OTK/5.jpg" class="mt-10 w-60" alt="Client">
                                        </figure>
                                    </div><!-- /.carousel-item -->
                                    <div class="lqd-column carousel-item  col-md-2 col-sm-3 col-xs-4">
                                        <figure class="text-center opacity-02 reset-opacity-onhover">
                                            <img src="~/Content/img/OTK/6.jpg" class="w-60" alt="Client">
                                        </figure>
                                    </div><!-- /.carousel-item -->
                                    <div class="lqd-column carousel-item  col-md-2 col-sm-3 col-xs-4">
                                        <figure class="text-center opacity-02 reset-opacity-onhover">
                                            <img src="~/Content/img/OTK/7.jpg" class="w-60" alt="Client">
                                        </figure>
                                    </div><!-- /.carousel-item -->
                                    <div class="lqd-column carousel-item  col-md-2 col-sm-3 col-xs-4">
                                        <figure class="text-center opacity-02 reset-opacity-onhover">
                                            <img src="~/Content/img/OTK/8.jpg" class="mt-10 w-60" alt="Client">
                                        </figure>
                                    </div><!-- /.carousel-item -->

                                </div><!-- /.carousel-items row -->

                            </div><!-- /.carousel-container -->

                        </div><!-- /.lqd-column col-md-12 -->

                    </div><!-- /.row -->
                </div><!-- /.container -->
            </section>

            <section class="vc_row pt-50 pb-50">
                <div class="container">

                    <div class="row">

                        <div class="lqd-column col-md-8 col-md-offset-2">

                            <header class="fancy-title text-center mb-80">
                                <h2>Editorial Collection</h2>
                                <a href="#" class="btn btn-underlined text-uppercase btn-black">
                                    <span>
                                        <span class="btn-txt">See editorial</span>
                                        <span class="btn-icon">
                                            <i class="fa fa-angle-right"></i>
                                        </span>
                                    </span>
                                </a>
                            </header><!-- /.fancy-title -->

                        </div><!-- /.lqd-column col-md-8 col-md-offset-2 -->

                    </div><!-- /.row -->

                    <div class="row">

                        <div class="lqd-column col-md-3 col-xs-6">

                            <div class="ld-sp pos-rel">
                                <figure class="ld-sp-img">
                                    <a href="shop-product-simple.html">
                                        <img src="~/assets/demo/shop/products/product-5.jpg" alt="Product">
                                    </a>
                                    <a href="#" class="ld-sp-btn add_to_cart_button">
                                        <span>Add to cart</span>
                                    </a>
                                </figure>
                                <div class="ld-sp-info text-center">
                                    <h3>
                                        <a href="shop-product-simple.html">Floral Top</a>
                                    </h3>
                                    <p class="ld-sp-price">
                                        <span class="ld-sp-price-amount">
                                            <span class="ld-sp-currency">$</span>55.00
                                        </span>
                                    </p>
                                </div><!-- /.ld-sp-info -->
                            </div><!-- /.ld-sp -->

                        </div><!-- /.lqd-column col-md-3 col-xs-6 -->

                        <div class="lqd-column col-md-3 col-xs-6">

                            <div class="ld-sp pos-rel">
                                <figure class="ld-sp-img">
                                    <a href="shop-product-simple.html">
                                        <img src="~/assets/demo/shop/products/product-5.jpg" alt="Product">
                                    </a>
                                    <a href="#" class="ld-sp-btn add_to_cart_button">
                                        <span>Add to cart</span>
                                    </a>
                                </figure>
                                <div class="ld-sp-info text-center">
                                    <h3>
                                        <a href="shop-product-simple.html">Floral Top</a>
                                    </h3>
                                    <p class="ld-sp-price">
                                        <span class="ld-sp-price-amount">
                                            <span class="ld-sp-currency">$</span>55.00
                                        </span>
                                    </p>
                                </div><!-- /.ld-sp-info -->
                            </div><!-- /.ld-sp -->

                        </div><!-- /.lqd-column col-md-3 col-xs-6 -->

                        <div class="lqd-column col-md-3 col-xs-6">

                            <div class="ld-sp pos-rel">
                                <figure class="ld-sp-img">
                                    <a href="shop-product-simple.html">
                                        <img src="~/assets/demo/shop/products/product-5.jpg" alt="Product">
                                    </a>
                                    <a href="#" class="ld-sp-btn add_to_cart_button">
                                        <span>Add to cart</span>
                                    </a>
                                </figure>
                                <div class="ld-sp-info text-center">
                                    <h3>
                                        <a href="shop-product-simple.html">Floral Top</a>
                                    </h3>
                                    <p class="ld-sp-price">
                                        <span class="ld-sp-price-amount">
                                            <span class="ld-sp-currency">$</span>55.00
                                        </span>
                                    </p>
                                </div><!-- /.ld-sp-info -->
                            </div><!-- /.ld-sp -->

                        </div><!-- /.lqd-column col-md-3 col-xs-6 -->

                        <div class="lqd-column col-md-3 col-xs-6">

                            <div class="ld-sp pos-rel">
                                <figure class="ld-sp-img">
                                    <a href="shop-product-simple.html">
                                        <img src="~/assets/demo/shop/products/product-5.jpg" alt="Product">
                                    </a>
                                    <a href="#" class="ld-sp-btn add_to_cart_button">
                                        <span>Add to cart</span>
                                    </a>
                                </figure>
                                <div class="ld-sp-info text-center">
                                    <h3>
                                        <a href="shop-product-simple.html">Floral Top</a>
                                    </h3>
                                    <p class="ld-sp-price">
                                        <span class="ld-sp-price-amount">
                                            <span class="ld-sp-currency">$</span>55.00
                                        </span>
                                    </p>
                                </div><!-- /.ld-sp-info -->
                            </div><!-- /.ld-sp -->

                        </div><!-- /.lqd-column col-md-3 col-xs-6 -->

                    </div><!-- /.row -->

                </div><!-- /.container -->
            </section>

            

            <section class="vc_row pt-30 pb-30">
                <div class="container">
                    <div class="row">

                        <div class="lqd-column col-md-3 col-sm-6 col-xs-12">

                            <div class="iconbox iconbox-xs text-center">
                                <div class="iconbox-icon-wrap">
                                    <span class="iconbox-icon-container">
                                        <img src="~/assets/demo/icon/icon-4.png" alt="Icon" class="liquid-image-icon">
                                    </span>
                                </div>
                                <div class="contents">
                                    <h3 class="font-size-16 font-weight-semibold mb-1">Memnuniyet Garantisi</h3>
                                    <p class="font-size-15 text-fade-dark-06">Ürünlerimiz müşterilerimizi memnun eder</p>
                                </div><!-- /.contents -->
                            </div><!-- /.iconbox -->

                        </div><!-- /.lqd-column col-md-3 col-sm-6 -->

                        <div class="lqd-column col-md-3 col-sm-6 col-xs-12">

                            <div class="iconbox iconbox-xs text-center">
                                <div class="iconbox-icon-wrap">
                                    <span class="iconbox-icon-container">
                                        <img src="~/assets/demo/icon/icon-2.png" alt="Icon" class="liquid-image-icon">
                                    </span>
                                </div>
                                <div class="contents">
                                    <h3 class="font-size-16 font-weight-semibold mb-1">Hızlı Sipariş</h3>
                                    <p class="font-size-15 text-fade-dark-06">Siparişleriniz hızla hazırlanır</p>
                                </div><!-- /.contents -->
                            </div><!-- /.iconbox -->

                        </div><!-- /.lqd-column col-md-3 col-sm-6 -->
                        <div class="lqd-column col-md-3 col-sm-6 col-xs-12">

                            <div class="iconbox iconbox-xs text-center">
                                <div class="iconbox-icon-wrap">
                                    <span class="iconbox-icon-container">
                                        <img src="~/assets/demo/icon/icon-3.png" alt="Icon" class="liquid-image-icon">
                                    </span>
                                </div>
                                <div class="contents">
                                    <h3 class="font-size-16 font-weight-semibold mb-1">Tasarım Garantisi</h3>
                                    <p class="font-size-15 text-fade-dark-06">İsteğinize uygun tasarımlar yapılır</p>
                                </div><!-- /.contents -->
                            </div><!-- /.iconbox -->

                        </div><!-- /.lqd-column col-md-3 col-sm-6 -->

                        <div class="lqd-column col-md-3 col-sm-6 col-xs-12">

                            <div class="iconbox iconbox-xs text-center">
                                <div class="iconbox-icon-wrap">
                                    <span class="iconbox-icon-container">
                                        <img src="~/assets/demo/icon/icon-1.png" alt="Icon" class="liquid-image-icon">
                                    </span>
                                </div>
                                <div class="contents">
                                    <h3 class="font-size-16 font-weight-semibold mb-1">Kalite Garantisi</h3>
                                    <p class="font-size-15 text-fade-dark-06">Ürünlerimizin kalitesi her zaman yüksektir.</p>
                                </div><!-- /.contents -->
                            </div><!-- /.iconbox -->

                        </div><!-- /.lqd-column col-md-3 col-sm-6 -->

                    </div><!-- /.row -->
                </div><!-- /.container -->
            </section>

            <!--<section class="vc_row pt-70 pb-70">
                <div class="container">

                    <div class="row">

                        <div class="lqd-column col-md-8 col-md-offset-2">

                            <header class="fancy-title text-center mb-70">
                                <h2>Latest in Fashion</h2>
                            </header>--><!-- /.fancy-title -->

                        <!--</div>--><!-- /.lqd-column col-md-8 col-md-offset-2 -->

                    <!--</div>--><!-- /.row -->

                    <!--<div class="row">

                        <div class="lqd-column col-md-12">

                            <div class="liquid-blog-posts">
                                <div class="liquid-blog-grid row">

                                    <div class="col-md-10 col-md-offset-1 col-lg-6 col-lg-offset-0">

                                        <article class="liquid-lp liquid-lp-sp-block liquid-lp-sp-block-alt liquid-lp-featured">

                                            <figure class="liquid-lp-media" data-responsive-bg="true">
                                                <img src="~/assets/demo/latest-posts/lp-30.jpg" alt="Latest Post">
                                            </figure>

                                            <div class="liquid-lp-inner">

                                                <a href="#" class="liquid-overlay-link"></a>

                                                <header class="liquid-lp-header">
                                                    <ul class="liquid-lp-category bordered square">
                                                        <li>
                                                            <a href="#">
                                                                <span>Training</span>
                                                            </a>
                                                        </li>
                                                    </ul>
                                                    <h2 class="liquid-lp-title h4 font-weight-bold"><a href="#">Stella mccartney, lily cole and sustainable needs voices</a></h2>
                                                </header>

                                                <footer class="liquid-lp-footer">

                                                    <time class="liquid-lp-date text-uppercase ltr-sp-1" datetime="2019-09-25">15 Nov, 2019</time>

                                                </footer>

                                            </div>--><!-- /.liquid-lp-inner -->

                                        <!--</article>

                                    </div>--><!-- /.col-md-10 -->

                                    <!--<div class="col-md-10 col-md-offset-1 col-lg-6 col-lg-offset-0">

                                        <article class="liquid-lp liquid-lp-sp-block liquid-lp-sp-block-alt">

                                            <figure class="liquid-lp-media" data-responsive-bg="true">
                                                <img src="~/assets/demo/latest-posts/lp-31.jpg" alt="Latest Post">
                                            </figure>

                                            <div class="liquid-lp-inner">

                                                <header class="liquid-lp-header">
                                                    <ul class="liquid-lp-category bordered square">
                                                        <li>
                                                            <a href="#">
                                                                <span>News</span>
                                                            </a>
                                                        </li>
                                                    </ul>
                                                    <h2 class="liquid-lp-title h4 font-weight-bold"><a href="#">Sustainable needs voices</a></h2>
                                                </header>

                                                <div class="liquid-lp-excerpt">
                                                    <p>Never ever think of giving up. Winners</p>
                                                </div>--><!-- /.liquid-lp-excerpt -->

                                                <!--<footer class="liquid-lp-footer">

                                                    <time class="liquid-lp-date text-uppercase ltr-sp-1" datetime="2019-09-25">15 Nov, 2019</time>

                                                </footer>

                                            </div>--><!-- /.liquid-lp-inner -->

                                        <!--</article>

                                    </div>--><!-- /.col-md-10 -->

                                <!--</div>--><!-- /.liquid-blog-grid row -->
                            <!--</div>--><!-- /.liquid-blog-posts -->

                        <!--</div>--><!-- /.lqd-column col-md-12 -->

                    <!--</div>--><!-- /.row -->

                <!--</div>--><!-- /.container -->
            <!--</section>-->

            <section class="vc_row">
                <div class="container-fluid px-0">
                    <div class="row mx-0">

                        <div class="lqd-column col-md-12 px-0">

                            <div class="liquid-ig-feed liquid-stretch-images mb-0" data-list-columns="6">
                                <ul class="liquid-ig-feed-list">
                                    <li>
                                        <a href="https://www.instagram.com/p/CKUCQ9SBRs3/" target="_blank" class="liquid-ig-feed-overlay">
                                            <i class="fa fa-instagram"></i>
                                        </a>
                                        <img src="~/Content/img/Insta/1.png" alt="Instagram Image">
                                    </li>
                                    <li>
                                        <a href="https://www.instagram.com/p/CI8icNRj8-p/" target="_blank" class="liquid-ig-feed-overlay">
                                            <i class="fa fa-instagram"></i>
                                        </a>
                                        <img src="~/Content/img/Insta/2.png" alt="Instagram Image">
                                    </li>
                                    <li>
                                        <a href="https://www.instagram.com/p/CLCrQEqhev0/" target="_blank" class="liquid-ig-feed-overlay">
                                            <i class="fa fa-instagram"></i>
                                        </a>
                                        <img src="~/Content/img/Insta/3.png" alt="Instagram Image">
                                    </li>
                                    <li>
                                        <a href="https://www.instagram.com/p/CKhWpS9Bs-6/"  target="_blank"class="liquid-ig-feed-overlay">
                                            <i class="fa fa-instagram"></i>
                                        </a>
                                        <img src="~/Content/img/Insta/4.png" alt="Instagram Image">
                                    </li>
                                    <li>
                                        <a href="https://www.instagram.com/p/CH53epcDwLo/"  target="_blank"class="liquid-ig-feed-overlay">
                                            <i class="fa fa-instagram"></i>
                                        </a>
                                        <img src="~/Content/img/Insta/5.png" alt="Instagram Image">
                                    </li>
                                    <li>
                                        <a href="https://www.instagram.com/p/CItk0K7MgUd/" target="_blank" class="liquid-ig-feed-overlay">
                                            <i class="fa fa-instagram"></i>
                                        </a>
                                        <img src="~/Content/img/Insta/6.png" alt="Instagram Image">
                                    </li>
                                </ul>
                            </div><!-- /.liquid-ig-feed liquid-stretch-images -->

                        </div><!-- /.lqd-column col-md-12 -->

                    </div><!-- /.row -->
                </div><!-- /.container -->
            </section>

        </main><!-- /#content.content -->

        

    


